/* .col-sm-6{
    background-color: aqua;
} */
/* .col-sm{
    background-color: rgb(146, 143, 231);

} */
/* .col-md-3{
    background-color: black;
}
.col-md{
    background-color: violet;
}
.col-sm-2{
    background-color: brown;
} */
/* .col-sm-5{
    background-color: rgb(31, 71, 71);
} */
/* .col-sm-4{
    background-color: rgb(139, 91, 32);
} */
/* .col-auto{
    background-color: rgb(117, 117, 19);
} */
.row-header{
    margin:0px auto;
    padding:0px;
    background-color: rgb(53, 53, 185);
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:100px;
}	
.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
/* .list-unstyled{
    background-color: rgb(112, 79, 35);
} */

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7952bb ;
    color:floralwhite;
}

.address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}
